.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 550px;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  .carousel-button {
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    border: none;
    color: var(--primary);
  }

  .btn-next{
    left: 93%;
  }

  .btn-prev{
    left: 5%;
  }
  
  .carousel-button:hover {
    color: var(--accent);
  }

  @media (max-width: 479px) {
    .carousel{
      height: 300px;
    }
    .btn-next{
      left: 89%;
    }
  }
  